.auth {
  align-items: space-around;
  background-color: #2d3748;
  border-radius: 20px;
  border: solid 1px #a2d2ff;
  box-shadow: 0 1px 4px rgba(117, 93, 93, 0.2);
  display: flex;
  flex-direction: column;
  height: 18rem;
  justify-content: center;
  margin-top: 15rem;
  max-width: 28rem;
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.auth h1 {
  text-align: center;
  color: white;
}

.auth h4 {
  text-align: center;
  color: white;
}

.btn {
  background-image: var(--color--multicolor);
  border-radius: var(--size-5);
  border: 2px solid var(--color-black-100);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-image: var(--color--multicolor-gradient);
  border: 2px solid var(--color-black-100);
  color: white;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}
.spider {
  position: absolute;
  top: 0;
  z-index: 1 !important;
}
.iron {
  position: absolute;
  right: 0rem;
  top: 31rem;
  z-index: 1 !important;
}

@media (min-width: 768px) {
  .auth {
    height: 18rem;
    width: 50%;
  }
  .auth h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .iron {
    position: absolute;
    right: 22rem;
    top: 31rem;
    z-index: 1 !important;
  }
}

@media (min-width: 1700px) {
  .auth {
    height: 25rem;
    width: 70%;
  }
  .auth h1 {
    font-size: 3.2rem;
    font-weight: bold;
  }
  .auth h4 {
    font-size: 1.2rem;
    text-align: center;
    color: white;
  }
  .btn {
    font-size: 1.4rem;
    padding: 12px 25px;
  }

  .iron {
    position: absolute;
    right: 46rem;
    top: 38rem;
    z-index: 1 !important;
  }
}
